.w-toplink {
    display: block;
    position: fixed;
    bottom: -50px;
    right: 15px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    z-index: 100;
    opacity: 0;
    -webkit-transition: background-color 0.25s ease, opacity 0.25s ease, bottom 0.25s ease;
    transition: background-color 0.25s ease, opacity 0.25s ease, bottom 0.25s ease;
    background-color: #333;
    background-color: rgba(0,0,0,0.4);
    color: #eee;
}
.w-toplink.active {
    bottom: 15px;
    opacity: 1;
    color: #eee;
}
.w-toplink.active:hover {
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}
.w-toplink i {
    line-height: inherit;
}