body {
  background: url("../images/bg.jpg") repeat fixed center;
}

#header .navbar {
  background: #FBF7F2;
  box-shadow: 0px 0px 15px #1F1F1F;
}

#header .navbar .container .img-responsive {
  margin-left: 18px;
  width: 150px;
  height: 150px;
}

#header .navbar .container .navbar-header a:hover {
  color: #7C73F8;
  background-color: #14FA14;
  border: 0px solid #e0ddd1;
  border-top-color: #E7B80D;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
  box-shadow: 0px 1px 6px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
}

#header .navbar .collapse ul li a {
  font-weight: bold;
  border-radius: 4px;
}

#header .navbar .collapse ul li a:hover {
  color: #0234D6;
  background-color: #FBF319;
  border: 0px solid #e0ddd1;
  border-top-color: #E7B80D;
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
  box-shadow: 0px 1px 6px 0px rgba(255, 255, 255, 0.6), inset 1px 0 1px 0px rgba(255, 255, 255, 0.5), inset -1px 0 1px 0px rgba(255, 255, 255, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px white;
}

#main .container {
  background-color: #F6F3EF;
  margin-top: 10px;
}

#main .container .panel-title {
  font-weight: bold;
}

#main .slide {
  padding-top: 10px;
  border-radius: 5px;
}

#main .slide .col-md-2, 
#main .slide .col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

#main #main .slide .col-md-4 {
  padding-right: 4px;
  padding-left: 4px;
}

#main .content {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  min-height: 400px;
}

#main .content .row .col-md-8 {
  /*padding-right: 0px;
  padding-left: 0px;*/
  padding: inherit;
}

#main .content .col-xs-2 .panel .access, #main .content .col-sm-2 .panel .access, #main .content .col-md-2 .panel .access, #main .content .col-lg-2 .panel .access {
  background-color: #94F2FA;
}

#main .content .col-xs-2 .panel .access div, #main .content .col-sm-2 .panel .access div, #main .content .col-md-2 .panel .access div, #main .content .col-lg-2 .panel .access div {
  font-weight: bold;
  color: #020962;
}

#main .content .col-xs-10 .col-xs-5, #main .content .col-xs-10 .col-sm-5, #main .content .col-xs-10 .col-md-5, #main .content .col-xs-10 .col-lg-5, #main .content .col-sm-10 .col-xs-5, #main .content .col-sm-10 .col-sm-5, #main .content .col-sm-10 .col-md-5, #main .content .col-sm-10 .col-lg-5, #main .content .col-md-10 .col-xs-5, #main .content .col-md-10 .col-sm-5, #main .content .col-md-10 .col-md-5, #main .content .col-md-10 .col-lg-5, #main .content .col-lg-10 .col-xs-5, #main .content .col-lg-10 .col-sm-5, #main .content .col-lg-10 .col-md-5, #main .content .col-lg-10 .col-lg-5 {
  padding-right: 4px;
  padding-left: 4px;
}

#main .content .col-xs-10 .col-xs-7, #main .content .col-xs-10 .col-sm-7, #main .content .col-xs-10 .col-md-7, #main .content .col-xs-10 .col-lg-7, #main .content .col-sm-10 .col-xs-7, #main .content .col-sm-10 .col-sm-7, #main .content .col-sm-10 .col-md-7, #main .content .col-sm-10 .col-lg-7, #main .content .col-md-10 .col-xs-7, #main .content .col-md-10 .col-sm-7, #main .content .col-md-10 .col-md-7, #main .content .col-md-10 .col-lg-7, #main .content .col-lg-10 .col-xs-7, #main .content .col-lg-10 .col-sm-7, #main .content .col-lg-10 .col-md-7, #main .content .col-lg-10 .col-lg-7 {
  padding-right: 0px;
  padding-left: 0px;
}

#main .footer {
  padding-right: 0px;
  padding-left: 0px;
}

#footer {
  height: 180px;
  width: 100%;
  background-image: url(../images/footerbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#footer .cover_border .panel .panel-body {
  margin: 5px auto;
  width: 500px;
  border: 1px solid #0395E1;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #1F1F1F;
  -moz-box-shadow: 0px 0px 15px #1F1F1F;
  -webkit-box-shadow: 0px 0px 15px #1F1F1F;
}
